<h2>루비온레일스 가이드 (<%= @edge ? @version[0, 7] : @version %>)</h2>

<% if @edge %>
<p>
  이 가이드는 <a href="https://github.com/riseshia/railsguides.kr/tree/korean">korean</a>를 사용하는 <b>최신 가이드</b>입니다.</p>
<p>
  안정 버전의 영문 가이드를 원한다면 <a href="http://guides.rubyonrails.org">http://guides.rubyonrails.org</a>를 확인해 보기 바랍니다.
</p>
<% else %>
<p>
  <p>
    이것은 레일스 5.0 버전에 대한 새 가이드로 <a href="https://github.com/rorlakr/rails-guides/tree/guides-ko"><%= @version %></a>을 지원합니다.
    이 가이드는 레일스를 이용하여 바로 웹을 개발할 수 있도록 고안되었으며
    프레임워크내 코드들이 서로 잘 동작하는 방법을 이해하도록 도와 줍니다.
  </p>
<% end %>
