<% content_for :page_title do %>
Ruby on Rails 가이드
<% end %>

<% content_for :header_section do %>
<%= render 'welcome' %>
<% end %>

<% content_for :index_section do %>
<div id="subCol">
  <dl>
    <dt></dt>
    <dd class="work-in-progress">이 아이콘으로 표시된 가이드내용은 현재 작업 중에
      있는 것이며 가이드 인덱스 메뉴에는 보이지 않습니다. 유용한 내용들이지만
      완전하지 못하거나 에러를 포함할 수도 있습니다. 내용을 읽고 의견이나 잘못된
      내용에 대해 알려주시면 감사하겠습니다.</dd>
  </dl>
</div>
<% end %>

<% documents_by_section.each do |section| %>
  <h3><%= section['name'] %></h3>
  <dl>
    <% section['documents'].each do |document| %>
      <%= guide(document['name'], document['url'], :work_in_progress => document['work_in_progress']) do %>
        <p><%= document['description'] %></p>
      <% end %>
    <% end %>
  </dl>
<% end %>
